@charset 'UTF-8';
/* Slider */

.slick-loading .slick-list {
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */

@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;
    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}

/* Arrows */

.slick-prev, .slick-next {
    
    position: absolute;
    display: block;
    width: 54px;
    height: 54px;
    top:0;
    border-radius: 3px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    z-index: 2000;
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
opacity: .8 ;
outline:none !important;
}

.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
    opacity: 1;
}





.slick-prev {
   right: 11vw;
    background: url(../../img/Home-Slider/Prev.svg) center center/63% no-repeat;
    
}

[dir='rtl'] .slick-prev {
    right: -25px;
    left: auto;
}


.slick-next {
    right: 9vw;
    background:url(../../img/Home-Slider/Next.svg) center center/63% no-repeat;

}


